<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="BabelfiskServiceEndPoint">
                    <security>
                        <message clientCredentialType="UserName" negotiateServiceCredential="false"
                            establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="DataRetrievalEndPoint">
                    <security>
                        <message clientCredentialType="UserName" negotiateServiceCredential="false"
                            establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="SecurityEndPoint">
                    <security>
                        <message clientCredentialType="UserName" negotiateServiceCredential="false"
                            establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="LookupEndPoint">
                    <security>
                        <message clientCredentialType="UserName" negotiateServiceCredential="false"
                            establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="DataInputEndPoint">
                    <security>
                        <message clientCredentialType="UserName" negotiateServiceCredential="false"
                            establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="OfflineEndPoint">
                    <security>
                        <message clientCredentialType="UserName" negotiateServiceCredential="false"
                            establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="ReportingEndPoint">
                    <security>
                        <message clientCredentialType="UserName" negotiateServiceCredential="false"
                            establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="SmartDotsEndPoint">
                    <security>
                        <message clientCredentialType="UserName" negotiateServiceCredential="false"
                            establishSecurityContext="false" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9011/BabelfiskService.svc"
                binding="wsHttpBinding" bindingConfiguration="BabelfiskServiceEndPoint"
                contract="FishLineService.IBabelfiskService" name="BabelfiskServiceEndPoint">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAA6Xg7MpPu3L7l9LBwRoxH9m4peC0gAAAAAQAAAPIBAAAwggHuMIIBW6ADAgECAhDVD17Lwzw5hUUnmVuIlCbPMAkGBSsOAwIdBQAwFDESMBAGA1UEAxMJQW5jaG9yTGFiMB4XDTExMTIzMTIyMDAwMFoXDTQ5MTIzMTIyMDAwMFowFDESMBAGA1UEAxMJQW5jaG9yTGFiMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDJDgsXwaP8WRq3a66VaAS8QCUZT6LxSbfJpc9mFCJ5smz0zqFS/CXqoe/s6HnY9KPy3VgJzyQw5v4F3hzaRWkbGVtCVRY8ubESL+cD9LOZNwl3H/Jv/oXQ0SZwVdAKrTKiJ+0Xa7q3emw+Q6lx/04i89WlQEZLj1i8Ugkuzswq9wIDAQABo0kwRzBFBgNVHQEEPjA8gBDmD6mLCFE2rEPp58ur6JJPoRYwFDESMBAGA1UEAxMJQW5jaG9yTGFighDVD17Lwzw5hUUnmVuIlCbPMAkGBSsOAwIdBQADgYEAdC9ioYBwnU+nbmDv6CeP1m6ImCMAnbgt4lovyH5UDT/2+69pwZV/QaCy2kSidVn7IGiIx1sPXlCzWcu0Ql7LgwJL4c30fkx6QQtfYkoyqlqv7QAAeVzkHNjpID7balWTKk6jHYv6Zegs3Qz4Yyar9+FNODXLT4SVsemLryYMoRc=" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:9011/BabelfiskService.svc"
                binding="wsHttpBinding" bindingConfiguration="DataRetrievalEndPoint"
                contract="FishLineService.IDataRetrieval" name="DataRetrievalEndPoint">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAA6Xg7MpPu3L7l9LBwRoxH9m4peC0gAAAAAQAAAPIBAAAwggHuMIIBW6ADAgECAhDVD17Lwzw5hUUnmVuIlCbPMAkGBSsOAwIdBQAwFDESMBAGA1UEAxMJQW5jaG9yTGFiMB4XDTExMTIzMTIyMDAwMFoXDTQ5MTIzMTIyMDAwMFowFDESMBAGA1UEAxMJQW5jaG9yTGFiMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDJDgsXwaP8WRq3a66VaAS8QCUZT6LxSbfJpc9mFCJ5smz0zqFS/CXqoe/s6HnY9KPy3VgJzyQw5v4F3hzaRWkbGVtCVRY8ubESL+cD9LOZNwl3H/Jv/oXQ0SZwVdAKrTKiJ+0Xa7q3emw+Q6lx/04i89WlQEZLj1i8Ugkuzswq9wIDAQABo0kwRzBFBgNVHQEEPjA8gBDmD6mLCFE2rEPp58ur6JJPoRYwFDESMBAGA1UEAxMJQW5jaG9yTGFighDVD17Lwzw5hUUnmVuIlCbPMAkGBSsOAwIdBQADgYEAdC9ioYBwnU+nbmDv6CeP1m6ImCMAnbgt4lovyH5UDT/2+69pwZV/QaCy2kSidVn7IGiIx1sPXlCzWcu0Ql7LgwJL4c30fkx6QQtfYkoyqlqv7QAAeVzkHNjpID7balWTKk6jHYv6Zegs3Qz4Yyar9+FNODXLT4SVsemLryYMoRc=" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:9011/BabelfiskService.svc"
                binding="wsHttpBinding" bindingConfiguration="SecurityEndPoint"
                contract="FishLineService.ISecurity" name="SecurityEndPoint">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAA6Xg7MpPu3L7l9LBwRoxH9m4peC0gAAAAAQAAAPIBAAAwggHuMIIBW6ADAgECAhDVD17Lwzw5hUUnmVuIlCbPMAkGBSsOAwIdBQAwFDESMBAGA1UEAxMJQW5jaG9yTGFiMB4XDTExMTIzMTIyMDAwMFoXDTQ5MTIzMTIyMDAwMFowFDESMBAGA1UEAxMJQW5jaG9yTGFiMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDJDgsXwaP8WRq3a66VaAS8QCUZT6LxSbfJpc9mFCJ5smz0zqFS/CXqoe/s6HnY9KPy3VgJzyQw5v4F3hzaRWkbGVtCVRY8ubESL+cD9LOZNwl3H/Jv/oXQ0SZwVdAKrTKiJ+0Xa7q3emw+Q6lx/04i89WlQEZLj1i8Ugkuzswq9wIDAQABo0kwRzBFBgNVHQEEPjA8gBDmD6mLCFE2rEPp58ur6JJPoRYwFDESMBAGA1UEAxMJQW5jaG9yTGFighDVD17Lwzw5hUUnmVuIlCbPMAkGBSsOAwIdBQADgYEAdC9ioYBwnU+nbmDv6CeP1m6ImCMAnbgt4lovyH5UDT/2+69pwZV/QaCy2kSidVn7IGiIx1sPXlCzWcu0Ql7LgwJL4c30fkx6QQtfYkoyqlqv7QAAeVzkHNjpID7balWTKk6jHYv6Zegs3Qz4Yyar9+FNODXLT4SVsemLryYMoRc=" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:9011/BabelfiskService.svc"
                binding="wsHttpBinding" bindingConfiguration="LookupEndPoint"
                contract="FishLineService.ILookup" name="LookupEndPoint">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAA6Xg7MpPu3L7l9LBwRoxH9m4peC0gAAAAAQAAAPIBAAAwggHuMIIBW6ADAgECAhDVD17Lwzw5hUUnmVuIlCbPMAkGBSsOAwIdBQAwFDESMBAGA1UEAxMJQW5jaG9yTGFiMB4XDTExMTIzMTIyMDAwMFoXDTQ5MTIzMTIyMDAwMFowFDESMBAGA1UEAxMJQW5jaG9yTGFiMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDJDgsXwaP8WRq3a66VaAS8QCUZT6LxSbfJpc9mFCJ5smz0zqFS/CXqoe/s6HnY9KPy3VgJzyQw5v4F3hzaRWkbGVtCVRY8ubESL+cD9LOZNwl3H/Jv/oXQ0SZwVdAKrTKiJ+0Xa7q3emw+Q6lx/04i89WlQEZLj1i8Ugkuzswq9wIDAQABo0kwRzBFBgNVHQEEPjA8gBDmD6mLCFE2rEPp58ur6JJPoRYwFDESMBAGA1UEAxMJQW5jaG9yTGFighDVD17Lwzw5hUUnmVuIlCbPMAkGBSsOAwIdBQADgYEAdC9ioYBwnU+nbmDv6CeP1m6ImCMAnbgt4lovyH5UDT/2+69pwZV/QaCy2kSidVn7IGiIx1sPXlCzWcu0Ql7LgwJL4c30fkx6QQtfYkoyqlqv7QAAeVzkHNjpID7balWTKk6jHYv6Zegs3Qz4Yyar9+FNODXLT4SVsemLryYMoRc=" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:9011/BabelfiskService.svc"
                binding="wsHttpBinding" bindingConfiguration="DataInputEndPoint"
                contract="FishLineService.IDataInput" name="DataInputEndPoint">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAA6Xg7MpPu3L7l9LBwRoxH9m4peC0gAAAAAQAAAPIBAAAwggHuMIIBW6ADAgECAhDVD17Lwzw5hUUnmVuIlCbPMAkGBSsOAwIdBQAwFDESMBAGA1UEAxMJQW5jaG9yTGFiMB4XDTExMTIzMTIyMDAwMFoXDTQ5MTIzMTIyMDAwMFowFDESMBAGA1UEAxMJQW5jaG9yTGFiMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDJDgsXwaP8WRq3a66VaAS8QCUZT6LxSbfJpc9mFCJ5smz0zqFS/CXqoe/s6HnY9KPy3VgJzyQw5v4F3hzaRWkbGVtCVRY8ubESL+cD9LOZNwl3H/Jv/oXQ0SZwVdAKrTKiJ+0Xa7q3emw+Q6lx/04i89WlQEZLj1i8Ugkuzswq9wIDAQABo0kwRzBFBgNVHQEEPjA8gBDmD6mLCFE2rEPp58ur6JJPoRYwFDESMBAGA1UEAxMJQW5jaG9yTGFighDVD17Lwzw5hUUnmVuIlCbPMAkGBSsOAwIdBQADgYEAdC9ioYBwnU+nbmDv6CeP1m6ImCMAnbgt4lovyH5UDT/2+69pwZV/QaCy2kSidVn7IGiIx1sPXlCzWcu0Ql7LgwJL4c30fkx6QQtfYkoyqlqv7QAAeVzkHNjpID7balWTKk6jHYv6Zegs3Qz4Yyar9+FNODXLT4SVsemLryYMoRc=" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:9011/BabelfiskService.svc"
                binding="wsHttpBinding" bindingConfiguration="OfflineEndPoint"
                contract="FishLineService.IOffline" name="OfflineEndPoint">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAA6Xg7MpPu3L7l9LBwRoxH9m4peC0gAAAAAQAAAPIBAAAwggHuMIIBW6ADAgECAhDVD17Lwzw5hUUnmVuIlCbPMAkGBSsOAwIdBQAwFDESMBAGA1UEAxMJQW5jaG9yTGFiMB4XDTExMTIzMTIyMDAwMFoXDTQ5MTIzMTIyMDAwMFowFDESMBAGA1UEAxMJQW5jaG9yTGFiMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDJDgsXwaP8WRq3a66VaAS8QCUZT6LxSbfJpc9mFCJ5smz0zqFS/CXqoe/s6HnY9KPy3VgJzyQw5v4F3hzaRWkbGVtCVRY8ubESL+cD9LOZNwl3H/Jv/oXQ0SZwVdAKrTKiJ+0Xa7q3emw+Q6lx/04i89WlQEZLj1i8Ugkuzswq9wIDAQABo0kwRzBFBgNVHQEEPjA8gBDmD6mLCFE2rEPp58ur6JJPoRYwFDESMBAGA1UEAxMJQW5jaG9yTGFighDVD17Lwzw5hUUnmVuIlCbPMAkGBSsOAwIdBQADgYEAdC9ioYBwnU+nbmDv6CeP1m6ImCMAnbgt4lovyH5UDT/2+69pwZV/QaCy2kSidVn7IGiIx1sPXlCzWcu0Ql7LgwJL4c30fkx6QQtfYkoyqlqv7QAAeVzkHNjpID7balWTKk6jHYv6Zegs3Qz4Yyar9+FNODXLT4SVsemLryYMoRc=" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:9011/BabelfiskService.svc"
                binding="wsHttpBinding" bindingConfiguration="ReportingEndPoint"
                contract="FishLineService.IReporting" name="ReportingEndPoint">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAA6Xg7MpPu3L7l9LBwRoxH9m4peC0gAAAAAQAAAPIBAAAwggHuMIIBW6ADAgECAhDVD17Lwzw5hUUnmVuIlCbPMAkGBSsOAwIdBQAwFDESMBAGA1UEAxMJQW5jaG9yTGFiMB4XDTExMTIzMTIyMDAwMFoXDTQ5MTIzMTIyMDAwMFowFDESMBAGA1UEAxMJQW5jaG9yTGFiMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDJDgsXwaP8WRq3a66VaAS8QCUZT6LxSbfJpc9mFCJ5smz0zqFS/CXqoe/s6HnY9KPy3VgJzyQw5v4F3hzaRWkbGVtCVRY8ubESL+cD9LOZNwl3H/Jv/oXQ0SZwVdAKrTKiJ+0Xa7q3emw+Q6lx/04i89WlQEZLj1i8Ugkuzswq9wIDAQABo0kwRzBFBgNVHQEEPjA8gBDmD6mLCFE2rEPp58ur6JJPoRYwFDESMBAGA1UEAxMJQW5jaG9yTGFighDVD17Lwzw5hUUnmVuIlCbPMAkGBSsOAwIdBQADgYEAdC9ioYBwnU+nbmDv6CeP1m6ImCMAnbgt4lovyH5UDT/2+69pwZV/QaCy2kSidVn7IGiIx1sPXlCzWcu0Ql7LgwJL4c30fkx6QQtfYkoyqlqv7QAAeVzkHNjpID7balWTKk6jHYv6Zegs3Qz4Yyar9+FNODXLT4SVsemLryYMoRc=" />
                </identity>
            </endpoint>
            <endpoint address="http://localhost:9011/BabelfiskService.svc"
                binding="wsHttpBinding" bindingConfiguration="SmartDotsEndPoint"
                contract="FishLineService.ISmartDots" name="SmartDotsEndPoint">
                <identity>
                    <certificate encodedValue="AwAAAAEAAAAUAAAA6Xg7MpPu3L7l9LBwRoxH9m4peC0gAAAAAQAAAPIBAAAwggHuMIIBW6ADAgECAhDVD17Lwzw5hUUnmVuIlCbPMAkGBSsOAwIdBQAwFDESMBAGA1UEAxMJQW5jaG9yTGFiMB4XDTExMTIzMTIyMDAwMFoXDTQ5MTIzMTIyMDAwMFowFDESMBAGA1UEAxMJQW5jaG9yTGFiMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDJDgsXwaP8WRq3a66VaAS8QCUZT6LxSbfJpc9mFCJ5smz0zqFS/CXqoe/s6HnY9KPy3VgJzyQw5v4F3hzaRWkbGVtCVRY8ubESL+cD9LOZNwl3H/Jv/oXQ0SZwVdAKrTKiJ+0Xa7q3emw+Q6lx/04i89WlQEZLj1i8Ugkuzswq9wIDAQABo0kwRzBFBgNVHQEEPjA8gBDmD6mLCFE2rEPp58ur6JJPoRYwFDESMBAGA1UEAxMJQW5jaG9yTGFighDVD17Lwzw5hUUnmVuIlCbPMAkGBSsOAwIdBQADgYEAdC9ioYBwnU+nbmDv6CeP1m6ImCMAnbgt4lovyH5UDT/2+69pwZV/QaCy2kSidVn7IGiIx1sPXlCzWcu0Ql7LgwJL4c30fkx6QQtfYkoyqlqv7QAAeVzkHNjpID7balWTKk6jHYv6Zegs3Qz4Yyar9+FNODXLT4SVsemLryYMoRc=" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>