<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SprattusContainerV" connectionString="metadata=res://*/Sprattus.csdl|res://*/Sprattus.ssdl|res://*/Sprattus.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AL-Intense\SQL2008;initial catalog=sprattus;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DataWarehouseContextV" connectionString="metadata=res://*/Model.DataWarehouse.csdl|res://*/Model.DataWarehouse.ssdl|res://*/Model.DataWarehouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AL-Intense\SQL2008;initial catalog=FishLineDW;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <add name="SprattusContainer" connectionString="metadata=res://*/Sprattus.csdl|res://*/Sprattus.ssdl|res://*/Sprattus.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=X1-MDU\SQL2019;initial catalog=FishLine;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SprattusSecurityContainer" connectionString="metadata=res://*/SprattusSecurity.csdl|res://*/SprattusSecurity.ssdl|res://*/SprattusSecurity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=X1-MDU\SQL2019;initial catalog=FishLineSecurity;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DataWarehouseContext" connectionString="metadata=res://*/Model.DataWarehouse.csdl|res://*/Model.DataWarehouse.ssdl|res://*/Model.DataWarehouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=X1-MDU\SQL2019;initial catalog=FishLineDW;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>

  <appSettings>
    <add key="OtolithImagesBaseFolderPathServer" value="\\ait-pdfs.win.dtu.dk\qdrev\AQUA\scientific-data\otolithlab\Sildeotolithbilleder til AOI\Akustik\Akustik 2020" />
    <add key="OtolithImagesServerName" value="ait-pdfs.win.dtu.dk\qdrev\AQUA\scientific-data\otolithlab\Sildeotolithbilleder til AOI\Akustik\Akustik 2020" />
    <add key="otolithImagesServerDomainOrComputerName" value="WIN" />
    <add key="OtolithImagesServerUser" value="AQUA-otolab-read" />
    <add key="OtolithImagesServerPassword" value="hemw.271.498" />
    <add key="ImageExtensionsToInclude" value="jpg,png,bmp" />
    <!-- First group and second group of regex must be animal id and image file extension -->
    <add key="FileNameGrabAnimalIdRegEx" value="^\\*(?:.+\\)*(?:([0-9]+)_.+)\.(.+)$" />
    
    <!-- The size of chunks when join an input c# list with LINQ to SQL -->
    <add key="ChunkSize" value="1000" />
  </appSettings>
  
</configuration>