<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SprattusContainerV" connectionString="metadata=res://*/Sprattus.csdl|res://*/Sprattus.ssdl|res://*/Sprattus.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AL-Intense\SQL2008;initial catalog=sprattus;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DataWarehouseContextV" connectionString="metadata=res://*/Model.DataWarehouse.csdl|res://*/Model.DataWarehouse.ssdl|res://*/Model.DataWarehouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=AL-Intense\SQL2008;initial catalog=FishLineDW;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

    <add name="SprattusContainer" connectionString="metadata=res://*/Sprattus.csdl|res://*/Sprattus.ssdl|res://*/Sprattus.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=www.anchorlab.net\SQL2019,48001;initial catalog=FishLine;User Id=dev; Password=dev_2022;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DataWarehouseContext" connectionString="metadata=res://*/Model.DataWarehouse.csdl|res://*/Model.DataWarehouse.ssdl|res://*/Model.DataWarehouse.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=www.anchorlab.net\SQL2019,48001;initial catalog=FishLineDW;User Id=dev; Password=dev_2022;Persist Security Info=TRUE;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>